// app global css in SCSS form
@import './libs';
@import './utility';
@import './swiper.scss';
@import './circular-progress.scss';
@import './fonts.scss';
@import './form.scss';

h1,
h2,
h3 {
  margin: 0;
}
